@import "reset.css";
@import "fonts.css";
@import "grid.css";
:root {
    --primary-red: #C90000;
    --secondery-red: #D62822;
    --primary-yellow: #FFC300;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5% /*10px*/;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    font-family: "Poppins-Regular";
    font-size: 1.6rem;
    line-height: 1.6;
    color: #323232;
}
/*::selection {*/

/*}*/
/*
        ========================================
                        App-Style
        ========================================
*/

/*
        -----(Component)-----
*/

.app-title {
    font-family: "Poppins-SemiBold";
    font-size: 3.2rem;
    color: var(--primary-red);
    position: relative;
    margin-bottom: 2.6rem;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}
.app-title::after {
    content: "";
    display: block;
    position: absolute;
    height: 0.8rem;
    width: 100%;
    background-color: #fff6a3;
    bottom: 0;
}

/*
        -----(Header)-----
*/

.header {
    padding: 1.5rem 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: #fff;

}

/*
        ----Nav----
*/

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.app-logo {
    background-color: var(--primary-red);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4.6rem;
    height: 4.6rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.9rem;
}
.app-logo__icon {

}
.menu {
    background-color: var(--primary-red);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 52%;
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
    font-family: "Poppins-Medium";
}
.menu--active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.menu__item {

}
.menu__link {
    color: #fff;
}
.nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
}
.nav__link {
    color: var(--primary-red);
    border: 0.1rem solid var(--primary-red);
    background-color: #fff;
    border-radius: 2rem;
    padding: 0.1rem 1.1rem;
}
.nav__link--fill {
    color: #fff;
    background-color: var(--primary-red);
}
.nav__logo {
    cursor: pointer;
}
.nav__logo-icon {

}
.cover {


}
.cover--active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #CFD8DC;
    z-index: 99;
    opacity: 40%;
}

/*
        -----(Main)-----
*/

.main {
    margin-top: 7.6rem;
}

/*
        ----Home----
*/
.home {
    padding-top: 6.5rem;
}
.home__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.home-content {

}

.home-content__title {
    text-align: center;
    font-family: "Poppins-SemiBold";
    /*font-size: 3.6rem;*/
    font-size: 2.8rem;
    color: var(--primary-red);
    max-width: 16ch;
    margin: 0 auto 1.2rem;
}

.home-content__caption {
    text-align: center;
    color: #504F4F;
    margin: 0 auto 1.5rem;
}
.home-content__order {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    display: none;
}
.home-photo {
    width: 26.4rem;
    height: auto;
    margin: 0 auto 15rem;
}
.home-photo__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.home-photo__delivery {
    position: absolute;
    text-align: center;
    background-color: rgba(241, 241, 241, 0.4);
    padding: 0.5rem 2rem;
    max-width: 13rem;
    border: 0.2rem solid #F1F1F1;
    border-radius: 50px 80px 0 50px;
}
.home-photo__delivery-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.home-photo__delivery-top__icon {

}
.home-photo__delivery-top__text {

}
.home-photo__delivery-time {
    color: #7D7C7C;
}
.home-order {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
}
.home-order__price {

}
.home-order__price-text {
    font-family: "Poppins-Light";
    font-size: 1.4rem;
}
.home-order__price-number {
    font-family: Poppins-Medium;
    font-size: 1.4rem;
}
.home-order__buttons {
    margin-top: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3rem;

}
.number-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    border: 0.2rem solid rgba(241, 241, 241, 0.7);
    -webkit-box-shadow:0  0.1rem 1.7rem 0 rgba(112, 144, 176, 0.2);
    box-shadow:0  0.1rem 1.7rem 0 rgba(112, 144, 176, 0.2);
    padding: 0.8rem 1.6rem;
    border-radius: 5rem;
    width: 14rem;
    height: 4.5rem;

}
.number-btn__icon {
    cursor: pointer;
}
#plus {
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#minus {
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.number-btn__number {
    font-family: "Poppins-Medium";
    font-size: 2rem;
    color: var(--primary-yellow);
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.number-btn__number::before,
.number-btn__number::after{
    content: "";
    display: block;
    position: absolute;
    width: 0.1rem;
    height: 2rem;
    background-color: #F1F1F1;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.number-btn__number::before {
    right: 3rem;
}
.number-btn__number::after {
    left: 3rem;
}
.order-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--primary-yellow);
    width: 12.6rem;
    height: 4.5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.6rem;
    border-radius: 5rem;
}
.order-btn__icon {
    width: 1.6rem;
    height: 1.6rem;
}
.order-btn__text {
    font-family: "Poppins-Medium";
    font-size: 1.4rem;

}

/*
        ----Page-menu----
*/
.page-menu {
    margin: 2.6rem 0;
}
.menu__wrapper {

}

.menu__categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    overflow-x: auto;
    padding-bottom: 2rem;
}
.menu__categories-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.8rem;
    border: 0.2rem solid #E3E3E3;
    background-color: #F1F1F1;
    padding: 1.2rem 2rem;
    border-radius: 10rem;
    -webkit-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
    cursor: pointer;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.menu__categories-item--active {
    background-color: var(--primary-yellow);
    border-color: #FFD429;
}
.menu__categories-item--active .menu__categories-item__icon {
    fill: #323232;
}
.menu__categories-item__icon {

}
.menu__categories-item__title {
    color: #504F4F;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}
.menu__categories-item--active .menu__categories-item__title{
    font-family: "Poppins-Medium";
    color: #323232;
}
.menu__items {
    margin-top: 5.3rem;
}
.menu-item {
    border: 0.2rem solid #E3E3E3;
    border-radius: 1.2rem;
    padding: 1.6rem;
    /*height: 100%;*/
}
.menu-item__photo {

}
.menu-item__photo-image {
    width: 100%;
    height: 100%;
}
.menu-item__content {

}
.menu-item__content-title {
    font-family: "Poppins-SemiBold";
    font-size: 2rem;
}
.menu-item__content-caption {
    font-size: 1.4rem;
    color: #504F4F;
    margin-bottom: 0.4rem;
}
.menu-item__content-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.2rem;
    padding-left: 0.3rem;
}
.menu-item__content-rate__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.3rem;
}
.menu-item__content-rate__number {
    font-family: "Poppins-Medium";
    font-size: 1.4rem;
    color: #7D7C7C;
}
.menu-item__content-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.menu-item__content-price {
    font-family: "Poppins-SemiBold";
    font-size: 2.4rem;

}
.menu-item__content-logo {
    width: 4.4rem;
    height: 4.4rem;
    background-color: var(--primary-red);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0.8rem;
    cursor: pointer;
}
.menu-item__content-logo-icon {

}
.menu__more {
    display: block;
    color: #504F4F;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin:  0 auto;
    font-family: "Poppins-Medium";
    font-size: 2rem;
    position: relative;
    cursor: pointer;
}
.menu__more::after {
    display: block;
    position: relative;
    content: "";
    width: 110%;
    height: 0.2rem;
    background-color: #504F4F;
    bottom: 0.4rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.offer {

}
.offer-title {

}
.offer__items {

}
.offer__item {
    background-color: #F1F1F1;
    padding: 4rem 0 4rem 1.5rem;
    border-radius: 1.5rem;
    position: relative;
    width: 29rem;
    height: 100%;
    -webkit-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
    margin: 0 auto;
}
.offer__item-type {
    display: block;
    position: relative;
    overflow: hidden;
}
.offer__item-type::after {
    position: absolute;
    display: block;
    content: "";
    background-color: #7D7C7C;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 8.3rem;
    height: 0.1rem;
    width: 100%;
}
.offer__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.offer__item-content {

}
.offer__item-content__title {
    font-family: "Poppins-SemiBold";
    font-size: 2.9rem;
    color: var(--primary-red);
    text-transform: uppercase;
}
.offer__item-content__caption {
    color: #504F4F;
    width: 15.4rem;
}
.offer__item-content__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.8rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.offer__item-content__price-before {
    font-family: "Poppins-SemiBold";
    color: #7D7C7C;
    position: relative;
}
.offer__item-content__price-before:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 0.1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #7D7C7C;
}
.offer__item-content__price-after {
    font-family: "Poppins-SemiBold";
    color: var(--primary-red);
    font-size: 2rem;/*2.4*/
}
.offer__item-content-btn {
    border: none;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: #504F4F;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    margin-top: 4rem;
    cursor: pointer;
}
.offer__item-content-btn__icon {

}
.offer__item-content-btn__text {
    color: #F1F1F1;
    font-family: "Poppins-Medium";
}
.offer__item-photo {
    position: absolute;
    top: 4.2rem;
    right: -3.25rem;
    scale: 0.7;
}
.offer__item-photo__image {
    width: 100%;
    height: 100%;
}
.offer__item:hover {
    background-color: var(--secondery-red);
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}
.offer__item:hover .offer__item-type,
.offer__item:hover .offer__item-content__caption {
    color: #FFEAE6;
}
.offer__item:hover .offer__item-type::after {
    background-color: #F1F1F1;
}
.offer__item:hover .offer__item-content__title,
.offer__item:hover .offer__item-content__price-after{
    color: var(--primary-yellow);
}
.offer__item:hover .offer__item-content__price-before {
    color: #F1F1F1;
}
.offer__item:hover .offer__item-content__price-before::before {
    background-color: #F1F1F1;
}
.offer__item:hover .offer__item-content-btn {
    background-color: #FFFDE6;
}
.offer__item:hover  .offer__item-content-btn__icon {
    fill: #323232;
}
.offer__item:hover .offer__item-content-btn__text {
    color: #323232;
}
.offer__item,
.offer__item:hover .offer__item-type,
.offer__item:hover .offer__item-type::after,
.offer__item:hover .offer__item-content__title,
.offer__item:hover .offer__item-content__caption,
.offer__item:hover .offer__item-content__price-before,
.offer__item:hover .offer__item-content__price-before:before,
.offer__item:hover .offer__item-content__price-after,
.offer__item:hover .offer__item-content-btn,
.offer__item:hover .offer__item-content-btn__icon,
.offer__item:hover .offer__item-content-btn__text {
    -webkit-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}
#offer__item-type--salad:after {
    left: 5.7rem;
}
#offer__item-photo--salad {
    top: 4.7rem;
    right: -3.1rem;
}
#offer__item-photo--bugger {
    top: 7rem;
    right: -3rem;
}
#offer__item-content-btn--bugger {
    margin-top: 7rem;
}
#offer__item-content-btn--salad {
    margin-top: 5rem;
}
.application {
    background-color: #E3E3E3;
    border-radius: 50rem 50rem 0 0 ;
    margin-bottom: 8.5rem;
}
.application__wrapper {
    text-align: center;
    padding-top: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.application__content {

}
.application__content-subtitle {
    font-family: "Poppins-Medium";
    font-size: 2rem;
    color: #7D7C7C;
    margin-bottom: 0.8rem;
}
.application__content-title {
    font-family: "Poppins-Medium";
    font-size: 2.3rem;
    color: var(--primary-red);
    margin-bottom: 1.2rem;
}
.application__content-description {
    font-size: 1.2rem;
    line-height: 2.3rem;
    max-width: 38rem;
    margin: 0 auto 9.8rem;
}
.application__content-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 8.8rem;

}
.application__content-link {

}
.application__content-link__image {
    width: 100%;
    height: 100%;
}
.application__banner {

}
.application__banner-image {
    width: 100%;
    height: 103%;
}
.near {

}
.near__wrapper {
    text-align: center;
    background-color: #323232;
    padding: 11rem 0;
    border-radius: 2rem;
    position: relative;
}
.near__title {
    font-family: "Poppins-Medium";
    font-size: 1.6rem;
    color: #FFFDE6;
}
.near__caption {
    color: #F1F1F1;
    font-size: 1.1rem;
    margin-bottom: 6.4rem;
}
.near__form {
    margin: 0 1rem;
    height: 5.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color:  #FFC300;
    border-radius: 5rem;
    padding: 1.3rem;
    overflow: hidden;

}
.near__form-input {
    border: none;
    outline: none;
    background-color: #FFC300;
    height: 5rem;
    width: 100%;
}
.near__form-input::-webkit-input-placeholder {
    font-family: "Poppins-Regular";
    font-size: 1.3rem;
    color: #504F4F;
}
.near__form-input::-moz-placeholder {
    font-family: "Poppins-Regular";
    font-size: 1.3rem;
    color: #504F4F;
}
.near__form-input:-ms-input-placeholder {
    font-family: "Poppins-Regular";
    font-size: 1.3rem;
    color: #504F4F;
}
.near__form-input::-ms-input-placeholder {
    font-family: "Poppins-Regular";
    font-size: 1.3rem;
    color: #504F4F;
}
.near__form-input::placeholder {
    font-family: "Poppins-Regular";
    font-size: 1.3rem;
    color: #504F4F;
}
.near__form-btn {
    border: none;
    outline: none;
    background-color: #FFEAE6;
    cursor: pointer;
    font-family: "Poppins-Medium";
    font-size: 1.3rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 1rem;
    border-radius: 5rem;
}
.near-image-salad {
    position: absolute;
    top: 3rem;
    left: 0;
}
.near-image-burger {
    position: absolute;
    bottom: 0;
    left: 4rem;
}
.footer {
    background-color: #FFFDE6;
    margin-top: 16.7rem;
}
.footer__wrapper {
    padding-top: 9rem;
}
.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.5rem;
}
.footer__content-links {
    /*margin-bottom: 3.5rem;*/
}
.footer__content-title {
    font-family: "Poppins-Medium";
    font-size: 2rem;
    margin-bottom: 3.2rem;
}
.footer__links,
.footer__hours{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
}

.footer__item {

}
.footer__link,
.footer__hours-item {
    font-family: "Poppins-Light";
    color: #323232;
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__content-opening {

}
.footer__hours {

}
.footer__hours-item {

}
.footer__logos {
    margin-top: 4rem;
}
.footer__logos-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
}
.footer__logos-main__icon-wrapper {
    width: 5.5rem;/*7*/
    height: 5.5rem;
    background-color: var(--primary-red);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer__logos-main__icon {

}
.footer__logos-main__title {
    font-family: "Poppins-SemiBold";
    font-size: 2rem;
}
.footer__logos-socials {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 3.2rem;
}
.footer__logos-socials__link {

}
.footer__logos-socials__link-svg {

}