@font-face {
    font-family: "Poppins-SemiBold";
    font-weight: 600;
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Medium";
    font-weight: 500;
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Regular";
    font-weight: 400;
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Light";
    font-weight: 300;
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
}